@import '../../node_modules/normalize.css/normalize.css';
@import '../resources/fonts/font';
@import './variables';

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $accentColor;
    color: #555;
    font-family: 'Xolonium', sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
