@import '../variables';

.LanguageSelector {
    height: 100%;
    width: 100%;
    display: flex;

    .option {
        flex: 1 1 auto;
        background-color: $accentColor;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        transition: background-color 1s linear;

        &:hover {
            color: $accentColor;
            background-color: $primaryColor;
        }
    }
}
