@font-face {
    font-family: 'Xolonium';
    src: url('../resources/fonts/Xolonium-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'Xolonium';
    font-weight: bold;
    src: url('../resources/fonts/Xolonium-Bold.otf') format('truetype');
}
