@import '../variables';

.TheGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .logo {
            margin: 12px;
        }

        .item {
            color: $primaryColor;
            font-size: 24px;
            margin: 12px;
            cursor: pointer;
        }
        .item:hover {
            text-decoration: underline;
        }

        .game-item {
            font-size: 48px;
            margin: 24px;
        }
    }
}
